<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- head.ejs -->
    <% include ../partials/head %>

  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/scrape">SCRAPE</a></li>
      </ul>
    </nav>

    <!-- footer.ejs -->
    <% include ../partials/footer %>
  </body>
</html>
